{% extends "base.html" %}
{% load static wagtailimages_tags %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

  <section class="page-header">
    <div class="content-center">
      <div class="motto">
        <div class="row">
          <div class="offset-lg-3 col-lg-6">
            <img src="{% static 'images/logo_v2.png' %}" alt="Image" class="img-rounded img-responsive" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="snap-child-end">
    {% include 'home/sections/nav.html' with page=page %}
  </section>

  <section class="snap-child">
    {% include 'home/sections/section1.html' with title=page.section_1_title %}
  </section>

  <section class="snap-child">
    {% include 'home/sections/section3.html' with title=page.section_2_title %}
  </section>

  <section class="snap-child">
    {% include 'home/sections/section2.html' with title=page.section_3_title %}
  </section>

  <section class="snap-child">
    {% include 'home/sections/section4.html' with title=page.section_4_title %}
  </section>

  <section class="snap-child">
    {% include 'home/sections/contact.html' with title='Contacteer ons' %}
  </section>

{% endblock content %}
