{% extends "layout.html" %}
{% load static wagtailimages_tags %}

{% block content %}
  {% image page.intro_image width-2000 as intro_image %}

  <section class="page-header">
    <div class="d-none d-md-block">
      <img class="img-fluid fade-animation" loading="lazy" src="{{ intro_image.file.url }}" />
    </div>
    <div class="content-center">
      <div class="motto">
        <div class="row">
          <div class="offset-lg-3 col-lg-6 offset-sm-1 col-sm-10">
            <img src="{% static 'images/logo_v2.png' %}" loading="lazy" alt="Image" class="img-rounded img-responsive appear-animation" />
          </div>
        </div>
      </div>
    </div>
  </section>

  {% block navigation %}
 <section class="sticky-nav opacity-90">
    {% include 'home/sections/nav.html' with page=page %}
  </section>
  {% endblock navigation%}

  <section id="section1" style="background: radial-gradient(#c1e5b4, #488c2f)">
    {% include 'home/sections/section1.html' with page=page %}
  </section>
  
  <!-- SECTION 2: WHAT WE DO -->
  <section id="section2">
    {% include 'home/sections/section2.html' with page=page %}
  </section>
  <section id="section2-extra">
    {% include 'home/partials/section2-extra.html' with text=page.section_2_extra %}
  </section>

  <!-- SECTION 3: HOW WE WORK -->
  <section id="section3">
    {% include 'home/sections/section3.html' with page=page %}
  </section>
  <section id="section3-extra">
    {% include 'home/partials/section3-extra.html' with page=page %}
  </section>

  <!-- SECTION 4: PORTFOLIO -->
  <section id="section4">
    {% include 'home/sections/section4.html' with title=page.section_4_title projects=projects %}
  </section>
  {% if page.section_4_extra %}
  <section id="section4-extra">
    {% include 'home/partials/section4-extra.html' with page=page %}
  </section>
  {% endif %}

  <section id="contact" style="background: radial-gradient(#c1e5b4, #488c2f)">
    {% include 'home/sections/contact.html' with title=page.contact_title messages=messages %}
  </section>

  {% include 'home/sections/footer.html' with page=page settings=settings %}

{% endblock content %}
