@font-face {
  font-family: 'Gotham';
  font-weight: 500;
  src: local('temm'),
       url('../fonts/temm.otf') format("opentype");
}

@font-face {
  font-family: 'Gotham';
  font-weight: 300;
  src: local('temmlight'),
       url('../fonts/temmlight.otf') format("opentype");
}

@font-face {
  font-family: 'Gotham';
  font-weight: 700;
  src: local('temmbold'),
       url('../fonts/temmbold.otf') format("opentype");
}

* {
  font-family: Gotham !important;
}

.h1, h1 {
  font-weight: 500;
  font-size: 3.2em;
}

.h2, h2 {
  font-size: 2.4em;
}

.bg-gray {
  background-color: #eeeeee !important;
}

.card-header:first-child {
  border-radius: 12px 12px 0 0;
}

.card-header {
  border-bottom: none;
}

.form-control {
  padding: 7px 18px;
}

img.fade-animation {
  width: 100%;
}

#section2 .rich-text > p, #section1 .rich-text > p {
  font-size: 1.6em;
  line-height: 1.3em;
}

#section2-extra {
  z-index: -10;
}

#section3-extra {
  z-index: -5;
}

#section3, #section4 {
  position: relative;
  z-index: 10;
}

#section3 .rich-text > p {
  font-size: 1em;
  padding-left: 0.6rem !important;
}

#contact {
  position: relative;
  z-index: 20;
}

.opacity-20 {
  opacity: 0.20;
}

.opacity-85 {
  opacity: 0.85;
}

.height-25 {
  height: 25em !important;
}

.height-35 {
  min-height: 35em !important;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; 
}

.parallax-row {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  min-height: 100%;
}

@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */ 

  .parallax-row {
    background-attachment: scroll;
  }
}

.navbar-collapse h4 {
  margin: 5px 0 0;
}

.nav-link.active > h4 {
  color: #86c66e !important;
  font-weight: 700 !important;
}

.nav-link.active::after {
  display: none !important;
}

.nav-link.active::before {
  display: none !important;
}

.page-header {
  background-color: white; 
  height: 100vh;
}

.sticky-nav {
  z-index: 1000;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
}

@keyframes fadingout {
  0% {opacity: 100%;}
  100% {opacity: 0%;}
}

@-webkit-keyframes fadingout {
  0% {opacity: 1}
  100% {opacity: 0}
}

@keyframes fadingin {
  0% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes fadingin {
  0% {opacity: 0}
  100% {opacity: 1}
}

.fade-animation {
  animation-name: fadingout;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;

  -webkit-animation-name: fadingout;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
}

.appear-animation {
  opacity: 0;

  animation-name: fadingin;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;

  -webkit-animation-name: fadingin;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
}

.ug-nav a.nav-link {
  color: #86c66e !important;
  border: 2px solid #86c66e !important;
}

.ug-nav a.nav-link.active {
  color: white !important;
  background-color: #86c66e !important;

}

.snap-parent {
  scroll-snap-type: y proximity;
}

.snap-child {
  scroll-snap-align: start;
}

.snap-child-end {
  scroll-snap-align: end;
}

#section3 .nav-tabs-navigation:last-child .nav-stacked {
  padding-top: 0px !important;
}

.tab-content.inner > .tab-pane.active {
  animation: slide-from-right 0.4s ease-out;
}

.tab-content.outer > .tab-pane.active {
  animation: slide-from-bottom 0.6s ease-out;
}

@keyframes slide-from-right {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}

@keyframes slide-from-bottom {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media (max-width: 991px) {

  #nav ul.nav {
    display: block;
  }

  .nav-justified .nav-item {
    text-align: left;
  }
}

@media (max-width: 768px) {

  #section3 .nav-tabs-navigation {
    padding-right: 10em !important;
  }

  #section3 .nav-tabs-navigation:last-child .nav-stacked {
    border: none;
  }
}
