h1 {
  font-size: 5em;
  font-weight: 500;
}

.bg-gray {
  background-color: #eeeeee !important;
}

.opacity-95 {
  opacity: 0.95;
}

.height-25 {
  height: 25em !important;
}

.height-35 {
  min-height: 35em !important;
}

.parallax-row {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  min-height: 100%;
}

.page-header {
  background-color: white; 
  height: 100vh;
}

.scrollspy-ontwerp {
  position: relative;
  height: 25em !important;
  overflow-y: scroll;
}

.snap-parent {
  scroll-snap-type: y mandatory;
}

.snap-child {
  scroll-snap-align: start;
}

/* .sticky-nav {
  position: fixed;
  top: 0px;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
} */

@keyframes fadingout {
  0% {opacity: 100%;}
  100% {opacity: 0%;}
}

@-webkit-keyframes fadingout {
  0% {opacity: 1}
  100% {opacity: 0}
}

@keyframes fadingin {
  0% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes fadingin {
  0% {opacity: 0}
  100% {opacity: 1}
}

.fade-animation {
  animation-name: fadingout;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;

  -webkit-animation-name: fadingout;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
}

.appear-animation {
  opacity: 0;

  animation-name: fadingin;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;

  -webkit-animation-name: fadingin;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
}

.snap-container {
  scroll-snap-type: y mandatory;
}

.snap-child {
  scroll-snap-align: start;
}

.snap-child-end {
  scroll-snap-align: end;
}