{% load wagtailcore_tags widget_tweaks %}

<div id="contact-us">
  <div class="contactus-1 py-5">
  
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-8 ml-auto mr-auto">
        
          <div class="card text-white mb-3">
            <div class="card-header bg-primary">
              <h1 class="card-title text-white text-center">{{ title|upper }}</h1>
            </div>
            <div class="card-body">
              <div class="col-md-10 offset-md-1">

                {% if messages %}
                  <div class="messages mb-2">
                      {% for message in messages %}
                      <p class="text-primary"><b>{{ message }}</b></p>
                      {% endfor %}
                  </div>
                {% endif %}

                <form role="form" id="contact-form" action="{% pageurl page %}" method="POST">
                  {% csrf_token %}
                  <div class="card-body">



                  {% for field in form %}
                    <div class="form-row {% if forloop.last %}mb-3{% else %}mb-1{% endif %}">
                      <div class="col">
                      {% if field.field.widget.input_type == 'select' or field.field.widget.input_type == 'checkbox' %}
                        <div class="row" style="padding: 0.9375rem; color: darkgray">
                          <div class="col-6 align-self-center">{{ field.label }}</div>
                          <div class="col-6">
                            {% render_field field class+="form-control form-control-minimal" placeholder=field.label %}
                          </div>
                        </div>
                      {% else  %}
                        {% render_field field class+="form-control form-control-minimal" placeholder=field.label rows=6 %} 
                      {% endif %}          
                      </div>
                    </div>
                {% if field.errors %}
                  {% for error in field.errors %}
                    <div class="text-danger">
                      <b>{{ error }}</b>
                    </div>
                  {% endfor %}
                {% endif %}
                  {% endfor %}

                    <div class="row">
                      <div class="col-md-12">
                        <button type="submit" class="btn btn-lg btn-primary" style="width:100%">Versturen</button>
                      </div>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
  </div>
</div>