<div class="section section-contactus section-image" id="contact-us">
    <!--     *********    CONTACT US 1     *********      -->
    <div class="contactus-1">
      <div class="container">
        <div class="row">
          <div class="col-md-10 ml-auto mr-auto">
            <div class="card card-contact no-transition" data-parallax="true">
              <h1 class="card-title text-center">{{ title|upper }}</h1>
              <div class="row">
                <div class="col-md-5 ml-auto">
                  <div class="card-body">
                    <div class="info info-horizontal">
                      <div class="icon icon-info">
                        <i class="nc-icon nc-pin-3" aria-hidden="true"></i>
                      </div>
                      <div class="description">
                        <h4 class="info-title">Ons kantoor</h4>
                        <p> Top ingenieur straat 28
                          <br> Ergens in Limburg
                        </p>
                      </div>
                    </div>
                    <div class="info info-horizontal">
                      <div class="icon icon-danger">
                        <i class="nc-icon nc-badge" aria-hidden="true"></i>
                      </div>
                      <div class="description">
                        <h4 class="info-title">Telefoon</h4>
                        <p> Top Ingenieur
                          <br> +32 479 348 347
                          <br> Ma - Vrij, 8:00-22:00
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 mr-auto">
                  <form role="form" id="contact-form" method="post">
                    <div class="card-body">
                     <div class="form-group label-floating">
                        <label class="control-label">Naam</label>
                        <input type="email" name="email" class="form-control" placeholder="Naam">
                      </div>
                      <div class="form-group label-floating">
                        <label class="control-label">Email</label>
                        <input type="email" name="email" class="form-control" placeholder="Email">
                      </div>
                      <div class="form-group label-floating">
                        <label class="control-label">Boodschap</label>
                        <textarea name="message" class="form-control" id="message" rows="6" placeholder="Boodschap"></textarea>
                      </div>
                      <div class="row">
                        {% comment %} <div class="col-md-6">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" value=""> Ik ben geen robot
                              <span class="form-check-sign"></span>
                            </label>
                          </div>
                        </div> {% endcomment %}
                        <div class="col-md-6">
                          <button type="submit" class="btn btn-primary pull-right">Versturen</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--     *********    END CONTACT US 1      *********      -->
  </div>