{% load static %}

<footer class="footer footer-black bg-dark">
  <div class="container">
    <div class="col-lg-4">
      <img class="img img-fluid" loading="lazy" src="{% static 'images/logo_ug_wit.svg' %}" alt="Logo Uniek Groen">
    </div>
    <div class="col-lg-4 offset-lg-2">
    </div>
  </div>
  <hr>
  <div class="container-fluid px-0">
    <div class="container">
      <div class="row">

        <div class="credits ml-auto">
          <span class="copyright text-primary">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script>, Think Mobile
          </span>
        </div>
        
      </div>
    </div>
  </div>
</footer>