{% load static %}

<footer class="footer footer-black bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 offset-lg-0 col-md-8 offset-md-2 col-sm-10 offset-sm-1 pt-3">
        <img class="img img-fluid" loading="lazy" src="{% static 'images/logo_ug_wit.svg' %}" alt="Logo Uniek Groen">
      </div>
      <div class="col-lg-3 col-xs-6 offset-lg-1">
      <h4 class="my-0 text-white pt-3"><b>{{ settings.home.WebsiteSettings.locatie }}</b></h4>
        <p class="text-primary">
          <b>
          {{ settings.home.WebsiteSettings.locatie.straat }} {{ settings.home.WebsiteSettings.locatie.huisnummer }}<br/>
          {{ settings.home.WebsiteSettings.locatie.postcode }} {{ settings.home.WebsiteSettings.locatie.woonplaats }}
          <br/>
          <br/>
          {{ settings.home.WebsiteSettings.email }} <br/>
          {{ settings.home.WebsiteSettings.btw_nummer }}
          </b>
        </p>
      </div>
      <div class="col-lg-4 col-xs-6 text-primary text-right py-3">
        <h4 class="my-0 text-white"><b>Zaakvoerders</b></h4>
        <p>
          <b>
          Christoff Chiaverini<br/>
          {{ settings.home.WebsiteSettings.telefoon }}
          <br/>
          <br/>
          Jan Weytjens<br/>
          {{ settings.home.WebsiteSettings.telefoon }} <br/>
          </b>
        </p>
      </div>
    </div>
  </div>
  <hr>
  <div class="container-fluid px-0">
    <div class="container">
      <div class="row">

        <div class="credits ml-auto">
          <span class="copyright text-primary">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script>, Think Mobile
          </span>
        </div>
        
      </div>
    </div>
  </div>
</footer>