<footer class="footer footer-black bg-dark">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        {% comment %} <ul>
          <li>
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com/" target="_blank">Blog</a>
          </li>
          <li>
            <a href="https://www.creative-tim.com/license" target="_blank">Licenses</a>
          </li>
        </ul> {% endcomment %}
      </nav>
      <div class="credits ml-auto">
        <span class="copyright text-primary">
          ©
          <script>
            document.write(new Date().getFullYear())
          </script>, Think Mobile
        </span>
      </div>
    </div>
  </div>
</footer>