<div class="d-flex bg-dark py-5">
  <div class="flex-fill">
    <div class="info">
      <div class="icon icon-danger">
        <i class="nc-icon nc-badge"></i>
      </div>
      <div class="description">
        <h4 class="info-title text-white"> {{ page.section_1_title }} </h4>
      </div>
    </div>
  </div>
  <div class="flex-fill">
    <div class="info">
      <div class="icon icon-warning">
        <i class="nc-icon nc-alert-circle-i"></i>
      </div>
      <div class="description">
        <h4 class="info-title text-white"> {{ page.section_2_title }} </h4>
      </div>
    </div>
  </div>
  <div class="flex-fill">
    <div class="info">
      <div class="icon icon-primary">
        <i class="nc-icon nc-layout-11"></i>
      </div>
      <div class="description">
        <h4 class="info-title text-white"> {{ page.section_3_title }} </h4>
      </div>
    </div>
  </div>
  <div class="flex-fill">
    <div class="info">
      <div class="icon icon-info">
        <i class="nc-icon nc-zoom-split"></i>
      </div>
      <div class="description">
        <h4 class="info-title text-white"> {{ page.section_4_title }} </h4>
      </div>
    </div>
  </div>
  <div class="flex-fill">
    <div class="info">
      <div class="icon icon-neutral">
        <i class="nc-icon nc-spaceship"></i>
      </div>
      <div class="description">
        <h4 class="info-title text-white"> Contact </h4>
      </div>
    </div>
  </div>
</div>