<div class="d-flex bg-dark">
  <div class="flex-fill">
    <div class="info">
      <div class="icon icon-danger">
        <i class="nc-icon nc-badge"></i>
      </div>
      <div class="description">
        <h4 class="info-title text-white"> Wie zijn wij? </h4>
      </div>
    </div>
  </div>
  <div class="flex-fill">
    <div class="info">
      <div class="icon icon-warning">
        <i class="nc-icon nc-alert-circle-i"></i>
      </div>
      <div class="description">
        <h4 class="info-title text-white"> Wat doen wij? </h4>
      </div>
    </div>
  </div>
  <div class="flex-fill">
    <div class="info">
      <div class="icon icon-primary">
        <i class="nc-icon nc-layout-11"></i>
      </div>
      <div class="description">
        <h4 class="info-title text-white"> Hoe werken wij? </h4>
      </div>
    </div>
  </div>
  <div class="flex-fill">
    <div class="info">
      <div class="icon icon-info">
        <i class="nc-icon nc-zoom-split"></i>
      </div>
      <div class="description">
        <h4 class="info-title text-white"> Onze realisaties </h4>
      </div>
    </div>
  </div>
  <div class="flex-fill">
    <div class="info">
      <div class="icon icon-neutral">
        <i class="nc-icon nc-spaceship"></i>
      </div>
      <div class="description">
        <h4 class="info-title text-white"> Contact </h4>
      </div>
    </div>
  </div>
</div>