<nav id="nav" class="navbar navbar-expand-lg bg-dark navbar-dark">
  <button class="navbar-toggler collapsed m-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon-bar top-bar"></span>
    <span class="icon-bar middle-bar"></span>
    <span class="icon-bar bottom-bar"></span>
  </button>
  <div class="collapse navbar-collapse nav-justified" id="navbarSupportedContent">
    <ul class="nav text-white w-100 py-3">
      <li class="nav-item">
        <a class="nav-link" href="#wat-bieden-wij-aan">
          <h4 class="info-title text-white">{{ page.section_2_title }}</h4>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#wie-zijn-wij">
          <h4 class="info-title text-white">{{ page.section_1_title }}</h4>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#hoe-gaan-wij-te-werk">
          <h4 class="info-title text-white">{{ page.section_3_title }}</h4>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#realisaties">
          <h4 class="info-title text-white">{{ page.section_4_title }}</h4>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">
          <h4 class="info-title text-white">Contact</h4>
        </a>
      </li>
    </ul>
  </div>
</nav>