{% load static wagtailimages_tags %}

<div class="section section-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h1 class="title">{{ title|upper }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 ml-auto mr-auto">
        <div class="card card-raised page-carousel">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
            {% for item in projects %}
              <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter }}" class="{% if forloop.first %}active{% endif %}"></li>
            {% endfor %}
            </ol>
            <div class="carousel-inner" role="listbox">
              {% for item in projects %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  {% image item.images.first.image fill-800x500 as tmp_img %}
                  <img class="d-block img-fluid" src="{{ tmp_img.file.url }}" alt="First slide">
                  <div class="carousel-caption d-none d-md-block">
                    <p>{{ item.locatie.naam }}</p>
                  </div>
                </div>
              {% endfor %}
            </div>
            <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <i class="nc-icon nc-simple-left"><</i>
              <i class="sr-only">Previous</i>
            </a>
            <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <i class="nc-icon nc-simple-right">></i>
              <i class="sr-only">Next</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

		<!-- Background of PhotoSwipe.
				 It's a separate element as animating opacity is faster than rgba(). -->
		<div class="pswp__bg"></div>

		<!-- Slides wrapper with overflow:hidden. -->
		<div class="pswp__scroll-wrap">

				<!-- Container that holds slides.
						PhotoSwipe keeps only 3 of them in the DOM to save memory.
						Don't modify these 3 pswp__item elements, data is added later on. -->
				<div class="pswp__container">
						<div class="pswp__item"></div>
						<div class="pswp__item"></div>
						<div class="pswp__item"></div>
				</div>

				<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
				<div class="pswp__ui pswp__ui--hidden">

						<div class="pswp__top-bar">

								<!--  Controls are self-explanatory. Order can be changed. -->

								<div class="pswp__counter"></div>

								<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

								<button class="pswp__button pswp__button--share" title="Share"></button>

								<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

								<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

								<!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
								<!-- element will get class pswp__preloader--active when preloader is running -->
								<div class="pswp__preloader">
										<div class="pswp__preloader__icn">
											<div class="pswp__preloader__cut">
												<div class="pswp__preloader__donut"></div>
											</div>
										</div>
								</div>
						</div>

						<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
								<div class="pswp__share-tooltip"></div>
						</div>

						<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

						<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

						<div class="pswp__caption">
								<div class="pswp__caption__center"></div>
						</div>
				</div>
		</div>
</div>

<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
	<div class="row">
  {% for item in projects %}
    {% for image in item.images.all %}
      {% image image.image fill-1200x750 as tmp_img %}
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="col-md-3 col-sm-4 gallery-item">
      <a href="{{ tmp_img.file.url }}" itemprop="contentUrl" data-size="800x500">
        <img src="{{ tmp_img.file.url }}" itemprop="thumbnail" alt="Image description" class="img-rounded img-responsive" />
      </a>
      <figcaption itemprop="caption description" class="gallery-caption">{{ item.locatie.name }}</figcaption>
    </figure>
    {% endfor %}
  {% endfor %}
	</div>
</div>