{% load wagtailcore_tags %}

<div class="section" style="background: radial-gradient(#c1e5b4, #488c2f)">
  <div class="container-fluid">
    <div class="row">
      {% comment %} <div class="offset-md-3 col-md-4 bg-primary">
      </div> {% endcomment %}
      <div class="offset-lg-4 offset-md-3 col-lg-4 col-md-6 col-xs-10 text-center bg-primary">
        <div class="bg-primary text-white">
          <h1 class="title text-white">{{ page.section_1_title|upper }}</h1>
          <p class="description px-5 py-0">
            {{ page.section_1_desc|richtext }}
          </p>
          <br/>
        </div>
        <br>
      </div>
    </div>
    {% comment %} <div class="row">
      <div class="offset-md-1 col-md-6">
        <div style="position: absolute; top: -50vh;">
          <img loading="lazy" class="img-fluid mt-5" src="{{ page.section_1_image.file.url }}"/>
        <div>
      </div>
    </div> {% endcomment %}
  </div>
</div>