<div class="section vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
          <div class="space-top"></div>
          <h1 class="title">{{ title }}</h1>
        </div>
        <div class="container">
          <div class="space-top"></div>
          <div class="row">
            <div class="col-sm-3">
              <div class="card" data-background="color" data-color="green">
                <div class="card-body text-center">
                  <div class="card-icon">
                    <i class="nc-icon nc-money-coins"></i>
                  </div>
                  <h4 class="card-title">Deel 1</h4>
                  <p class="card-description">
                    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere 
                    consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Curabitur blandit tempus porttitor.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card" data-background="color" data-color="blue">
                <div class="card-body text-center">
                  <div class="card-icon">
                    <i class="nc-icon nc-watch-time"></i>
                  </div>
                  <h4 class="card-title">Deel 2</h4>
                  <p class="card-description">
                    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere 
                    consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Curabitur blandit tempus porttitor.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card" data-background="color" data-color="purple">
                <div class="card-body text-center">
                  <div class="card-icon">
                    <i class="nc-icon nc-layout-11"></i>
                  </div>
                  <h4 class="card-title">Deel 3</h4>
                  <p class="card-description">
                    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere 
                    consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Curabitur blandit tempus porttitor.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card" data-background="color" data-color="brown">
                <div class="card-body text-center">
                  <div class="card-icon">
                    <i class="nc-icon nc-align-center"></i>
                  </div>
                  <h4 class="card-title">Deel 4</h4>
                  <p class="card-description">
                    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere 
                    consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Curabitur blandit tempus porttitor.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>