{% load static wagtailcore_tags wagtailimages_tags %}

<div class="section bg-dark pt-0">
  <div class="container text-center py-5">
    <h1 class="title text-white">{{ page.section_2_title|upper }}</h1>
  </div>

  {% image page.section_2_image_part_1 width-2000 as img1 %}

  <div class="container-fluid">
    <div class="row px-5 parallax-row" style="background-image: url({{ img1.file.url }})">
      <div class="col-xl-4 col-lg-5 col-md-7 bg-primary opacity-85 py-5 px-3">
        <div class="container basic-container height-35">
          <h2 class="category text-white font-weight-bolder">{{ page.section_2_subtitle1 }}</h2>
          <div class="text-white">
            {{ page.section_2_desc_1|richtext }}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% image page.section_2_image_part_2 width-2000 as img2 %}

  <div class="container-fluid">
    <div class="row px-5 parallax-row" style="background-image: url({{ img2.file.url }})">
      <div class="offset-xl-7 col-xl-4 offset-lg-6 col-lg-5 offset-lg-7 col-lg-4 offset-md-5 col-md-7 bg-dark opacity-85 py-5 px-3">
        <div class="container basic-container height-35">
          <h2 class="category text-white font-weight-bolder">{{ page.section_2_subtitle2 }}</h2>
          <div class="text-white">
            {{ page.section_2_desc_2|richtext }}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% image page.section_2_image_part_3 width-2000 as img3 %}

  <div class="container-fluid">
    <div class="row px-5 parallax-row" style="background-image: url({{ img3.file.url }})">
      <div class="offset-xl-2 col-xl-4 offset-lg-2 col-lg-5 offset-md-1 col-md-7 bg-gray opacity-85 py-5 px-3">
        <div class="container basic-container height-35">
          <h2 class="category text-dark font-weight-bolder">{{ page.section_2_subtitle3 }}</h2>
          <div class="text-dark">
            {{ page.section_2_desc_3|richtext }}
          </div>
        </div>
      </div>
    </div>
  </div>



</div>