{% load wagtailcore_tags %}

<div class="d-flex pt-5 bg-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <div class="space-top"></div>
        <h1 class="title">{{ page.section_3_title|upper }}</h1>
      </div>
    </div>

    <!-- for md / lg / xl-->
    <div class="d-none d-md-block"> 
      <ul class="nav justify-content-center my-5">
        <li class="nav-item ug-nav mx-3">
          <a class="nav-link active" data-toggle="pill" href="#part1" role="tab">
            <h3 class="my-0 px-5">Ontwerp traject</h3>
          </a>
        </li>
        <li class="nav-item ug-nav mx-3">
          <a class="nav-link" data-toggle="pill" href="#part2" role="tab">
            <h3 class="my-0 px-5">Realisatie traject</h3>
          </a>
        </li>
      </ul>
    </div>

    <!-- for xs / sm -->
    <div class="d-block d-md-none"> 
      <ul class="nav justify-content-center my-5">
        <li class="nav-item ug-nav mx-3">
          <a class="nav-link active" data-toggle="pill" href="#part1" role="tab">
            <h3 class="text-center my-0 px-2">Ontwerp traject</h3>
          </a>
        </li>
        <li class="nav-item ug-nav mx-3">
          <a class="nav-link" data-toggle="pill" href="#part2" role="tab">
            <h3 class="text-center my-0 px-2">Realisatie traject</h3>
          </a>
        </li>
      </ul>
    </div>

    <div class="tab-content">

      <!-- Part 1: Design phase -->
      <div class="tab-pane active" id="part1">
        <div class="row">

          <!-- LEFT -->
          <div class="col-md-6 col-lg-4 offset-lg-2 pr-0">
            <div class="nav-tabs-navigation text-right">
              <div class="nav-tabs-wrapper mr-0">
                <ul class="nav nav-tabs flex-column nav-stacked" role="tablist">
                  {% for item in page.design_items.all %}
                  <li class="nav-item">
                    <a class="nav-link {% if forloop.first %}active{% endif %}" href="#part1{{ forloop.counter }}" role="tab" data-toggle="tab">
                      <h4 class="mt-0 mb-3">{{ item.name }}</h4>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>

          <!-- RIGHT -->
          <div class="d-none d-md-block col-md-6 col-lg-4">
            <!-- Tab panes -->
            <div class="tab-content">
              {% for item in page.design_items.all %}
              <div class="tab-pane pb-5 pt-1 {% if forloop.first %}active{% endif %}" id="part1{{ forloop.counter }}">
                <h5>
                  {{ item.desc|richtext }}
                </h5>
              </div>
              {% endfor %}
            </div>
          </div>

        </div>
      </div>


      <!-- Part 2 -->
      <div class="tab-pane" id="part2">
        <div class="row">

          <!-- LEFT -->
          <div class="col-md-6 col-lg-4 offset-lg-2">
            <div class="nav-tabs-navigation text-right">
              <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs flex-column nav-stacked" role="tablist">
                  {% for item in page.implementation_items.all %}
                  <li class="nav-item">
                    <a class="nav-link {% if forloop.first %}active{% endif %}" href="#part2{{ forloop.counter }}" role="tab" data-toggle="tab">
                      <h4 class="mt-0 mb-3">{{ item.name }}</h4>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>

          <!-- RIGHT -->
          <div class="d-none d-md-block col-md-6 col-lg-4">
            <!-- Tab panes -->
            <div class="tab-content">
              {% for item in page.implementation_items.all %}
              <div class="tab-pane pb-5 pt-1 {% if forloop.first %}active{% endif %}" id="part2{{ forloop.counter }}">
                <h5>
                  {{ item.desc|richtext }}
                </h5>
              </div>
              {% endfor %}
            </div>
          </div>
          
        </div>
      </div>
      <!-- end part 2 -->

    </div>
  </div>
</div>