<div class="section vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6 text-center">
          <h2 class="title revealOnScroll">Wie zijn wij?</h2>
          <h5 class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. 
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, 
            a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, 
            a pharetra augue.
          </h5>
          <br>
          <a href="nucleo-icons-demo.html" class="btn btn-primary btn-round btn-lg " target="_blank">Meer informatie</a>
          <a href="https://nucleoapp.com/?ref=1712" class="btn btn-outline-primary btn-round btn-lg " target="_blank">Wij zijn cool!</a>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </div>