{% load static wagtailimages_tags %}

<div class="section section-dark pt-5">
  <div class="container">
    

{% comment %} 
      <!-- Gallery inside carousel  -->
      <div class="tns-carousel-wrapper tns-controls-outside tns-nav-outside gallery mx-5 mb-4">
        <div class="tns-carousel-inner" data-carousel-options='{
            "responsive":{
              "0": {"items":1, "gutter": 16},
              "576":{"items":2, "gutter": 20},
              "991":{"items":3, "gutter": 24}
            },
            "loop": false
          }'
        >
        {% for item in projects %}
          {% image item.images.first.image fill-200x150 as small_image %}
          {% image item.images.first.image fill-1000x750 as large_image %}

          <!-- Item -->
          <div>
            <a href="{{ large_image.file.url }}" class="gallery-item" data-sub-html='<h6 class="fs-sm text-light">{{ item.caption }}</h6>'>
              <img src="{{ small_image.file.url }}" alt="Gallery thumbnail">
              <span class="gallery-item-caption">{{ item.caption }}</span>
            </a>
          </div>
        {% endfor %}
          <!-- Add as many gallery items wrapped in divs as you need -->
        </div>
      </div>
 {% endcomment %}


    <div class="row">
      <div class="col-md-10 ml-auto mr-auto text-center">
        <h1 class="title mt-0">{{ title|upper }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 ml-auto mr-auto">
        <div class="page-carousel">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
            {% for item in projects %}
              <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter }}" class="{% if forloop.first %}active{% endif %}"></li>
            {% endfor %}
            </ol>
            <div class="carousel-inner" role="listbox">
              {% for item in projects %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  {% image item.images.first.image fill-800x500 as tmp_img %}
                  <a class="test" href="#" data-toggle="modal" data-target="#modal-{{ forloop.counter }}">
                    <img class="img-fluid" src="{{ tmp_img.file.url }}" alt="First slide">
                  </a>
                  <div class="carousel-caption d-none d-md-block">
                    <p>{{ item.title }}</p>
                  </div>
                </div>
              {% endfor %}
            </div>
            <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <i class="nc-icon nc-simple-left"><</i>
              <i class="sr-only">Previous</i>
            </a>
            <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <i class="nc-icon nc-simple-right">></i>
              <i class="sr-only">Next</i>
            </a>
          </div>
        </div>
        <div class="text-right text-white pt-3">
          Klik op een project om alle afbeeldingen te raadplegen
        </div>
      </div>
    </div>
  </div>
</div>

{% for item in projects %}

<div id="modal-{{ forloop.counter }}" class="modal fade show" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <div class="page-carousel">
          <div id="lightboxcarousel-{{ forloop.counter }}" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
            {% for image in item.images.all %}
              <li data-target="#lightboxcarousel-{{ forloop.counter }}" data-slide-to="{{ forloop.counter }}" class="{% if forloop.first %}active{% endif %}"></li>
            {% endfor %}
            </ol>
            <div class="carousel-inner" role="listbox">
            {% for image in item.images.all %}
              {% image image.image fill-1200x750 as tmp_img %}
              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img class="img-fluid" src="{{ tmp_img.file.url }}">
                  <div class="carousel-caption d-none d-md-block">
                    <p>{{ item.title }}</p>
                  </div>
              </div>
            {% endfor %}
            </div>
            <a class="left carousel-control carousel-control-prev" href="#lightboxcarousel-{{ forloop.counter }}" role="button" data-slide="prev">
              <i class="nc-icon nc-simple-left"><</i>
              <i class="sr-only">Previous</i>
            </a>
            <a class="right carousel-control carousel-control-next" href="#lightboxcarousel-{{ forloop.counter }}" role="button" data-slide="next">
              <i class="nc-icon nc-simple-right">></i>
              <i class="sr-only">Next</i>
            </a>
          </div>
        </div>
      </div>
      <button type="button" class="close modal-close text-white" data-dismiss="modal" aria-label="Close" style="padding-bottom: 3px;">
        <b>&times;</b>
      </button>
    </div>
  </div>
</div>

{% endfor %}