{% load wagtailimages_tags %}

{% image page.section_4_extra_image width-2000 as tmp_img %}

<div class="section bg-dark bg-img pb-5" style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url('{{ tmp_img.file.url }}')">
  <div id="section4-extra_text" class="container py-5 my-5">
    <div class="row py-5">
      <div class="col-lg-10 offset-lg-1">
        <h1 class="text-center text-white py-5 mb-5">{{ page.section_4_extra }}</h1>
      </div>
    </div>
  </div>
</div>